<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__CSS__lib/html5.js"></script>
    <script type="text/javascript" src="__CSS__lib/respond.min.js"></script>
    <script type="text/javascript" src="__CSS__lib/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__CSS__static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__lib/icheck/icheck.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__CSS__static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>对账信息</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 支付宝对账 <span class="c-gray en">&gt;</span> 重庆自来水 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c"> 日期范围：
        <input type="text" onfocus="WdatePicker({maxDate:'#F{\$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({minDate:'#F{\$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
        <button type="button" class="btn btn-success radius" id="dateQueryAccount" name=""><i class="Hui-iconfont">&#xe665;</i>查询</button>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="60">单位名称</th>
                <th width="40">总条数</th>
                <th width="75">总金额</th>
                <th width="70">支付宝总条数</th>
                <th width="30">支付宝总金额</th>
                <th width="85">对账日期</th>
                <th width="30">对账结果</th>
            </tr>
            </thead>
            <tbody>
            {volist name="data" id="vo"}
            <tr class="text-c">
                <td>{$vo['customer_name']}</td>
                <td>{$vo['countCnt']}</td>
                <td>{$vo['sumMoney']}</td>
                <td>{$vo['dzCountCnt']}</td>
                <td>{$vo['dzSumMoney']}</td>
                <td>{$vo['dzDate']}</td>
                {if condition="$vo['state'] == 0"}
                <td>对账成功</td>
                {else/}<td style="color: red">对账失败</td>
                {/if}
                {/volist}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="__CSS__lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__CSS__lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__CSS__lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__CSS__lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__CSS__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__CSS__static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__CSS__static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
    $(function () {
        $('#dateQueryAccount').click(function () {
            var dateMin = $('#datemin').val();
            var dateMax = $('#datemax').val();
            window.location.href = "__CSMS__admin/CheckAccount/queryBianminAccountDate?dateMin=" + dateMin + "&dateMax=" + dateMax + "";
        });
    });
</script>
</body>
</html>