<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="__CSS__system.css">
    <script type="text/javascript" src="__CSS__lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="__CSS__lib/layer/2.1/layer.js"></script>
    <script>
        function check() {
            var title = $('#title').val();
            var name = $('#name').val();
            if (title == '') {
                layer.tips('请输入名称', '#title', {tips: 1, time: 10000});
                return false;
            }
            if (name == '') {
                layer.tips('请输入（控制器/方法）', '#name', {tips: 1, time: 10000});
                return false;
            }
            if (name.indexOf('/') <= 0) {
                layer.tips('格式必须为（控制器/方法）', '#name', {tips: [1, '#78BA32'], time: 10000});
                return false;
            }
            return true;
        }

    </script>
</head>
<body>

<form name="myform" action="__CSMS__admin/system/auth_rule" method="post" onsubmit="return check(this)">
    <div class="table_top">
        父级：<select name="pid">
        <option value="0">--------- 一级 ---------</option>
        {volist name="data" id="vo"}
        <option value="{$vo['id']}">{$vo['title']}</option>
        {/volist}
    </select>
        名称：<input type="text" name="title" id="title" class="input"/>
        控制器/方法：<input type="text" name="name" id="name" class="input"/>
        <button type="submit" id="submit" class="button">确 定</button>

        （ 为防止误操作，请在数据库编辑/删除操作 ）
    </div>
</form>

<div class="list">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
        <thead>
        <tr>
            <td width="13%">
                <div align="center">ID</div>
            </td>
            <td width="22%">
                <div align="center">名称</div>
            </td>
            <td width="34%">
                <div align="center">控制器/方法</div>
            </td>
            <td width="21%">
                <div align="center">创建时间</div>
            </td>
        </tr>
        </thead>
        <tbody>
        {volist name="data" id="vo"}
        <tr>
            <td height="42">
                <div align="center">{$vo.id}</div>
            </td>
            <td>
                <div style="padding-left:50px;">{$vo.title}</div>
            </td>
            <td>
                <div style="padding-left:50px;">{$vo.name}</div>
            </td>
            <td>
                <div align="center">{$vo.create_time|date="Y-m-d H:i:s",###}</div>
            </td>
            <!--<td>-->
                <!--<div align="center"><a href="javascript:;" onclick="auth_rule_edit({$vo.id})">编辑</a></div>-->
            <!--</td>-->
        </tr>
        {volist name="vo['sub']" id="sub"}
        <tr>
            <td height="40">
                <div align="center">{$sub.id}</div>
            </td>
            <td>
                <div style="padding-left:50px;">&nbsp;&nbsp;&nbsp;&nbsp;┠─&nbsp;&nbsp;{$sub.title}</div>
            </td>
            <td>
                <div style="padding-left:100px;">{$sub.name}</div>
            </td>
            <td>
                <div align="center">{$sub.create_time|date="Y-m-d H:i:s",###}</div>
            </td>
            <!--<td>-->
                <!--<div align="center"><a href="javascript:;" onclick="auth_rule_edit({$sub.id})">编辑</a></div>-->
            <!--</td>-->
        </tr>
        {/volist}
        {/volist}
        </tbody>
    </table>
</div>


</body>
</html>
